:root {
	--BackColorMid: #001D3D;
	--BackColorDark: #000814;
	--BackColorLight: #003566;
	--ContrastColor: #FFC300;
	--ContrastColorLight: #FFD60A;
	--WritingColor: #CAF0F8;
}
/* Styles for Drum Machine Demo */
body {
	/*background: linear-gradient(0deg, rgba(0,8,20,1) 0%, rgba(0,29,61,1) 65%, rgba(0,53,102,1) 100%);*/
	background: #000420;
	color: #EEEEEE;
	font-family: 'Droid Sans', Arial, sans-serif;
	font-size: 13px;
	padding-top: 10%;
	padding-bottom: 10%;
}

* {
	-webkit-user-drag: none;
	-webkit-user-select: none;
	/*cursor: pointer !important;*/
}

#title {
	font-family: 'Michroma', 'Droid Sans', Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	display: block;
	margin: 10px 0 15px 0;
	text-align: center;
}

#version {
	font-weight: bold;
	font-size: 12px;
}

.container {
	border-radius: 10px;
	border: 0px solid rgb(230, 230, 230);
	width: 900px;
	margin: 0px auto;
	padding: 20px 20px 15px 20px;
  display: none;
}

#io { display:block; padding:5px 20px;margin-right: 11em;}
.container.active {
	display: block;
}

.buttons_row {
	width: 1400px
}

#LED_row {
	margin-top: 8px;
	margin-bottom: 12px;
}


button {
	color: black;
	padding: 5px 10px;
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
	margin-block: 4em;
	align-content: center;
	cursor: pointer;
	text-decoration: none;
	font-weight: bold;
}


@keyframes pulseShadowRed {
		0% {box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.4);}
		70% {box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);}
		100% {box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);}
}

@keyframes pulseShadowGreen {
	0% {box-shadow: 0 0 0 0 rgba(69, 160, 73, 0.4);}
	70% {box-shadow: 0 0 0 10px rgba(69, 160, 73, 0);}
	100% {box-shadow: 0 0 0 0 rgba(69, 160, 73, 0);}
}

@keyframes pulseShadowPurple {
	0% {box-shadow: 0 0 0 0 rgba(108, 111, 209, 0.4);}
	70% {box-shadow: 0 0 0 10px rgba(108, 111, 209, 0);}
	100% {box-shadow: 0 0 0 0 rgba(108, 111, 209, 0);}
}


.playback-area{
		display: grid;
		grid-template-columns: 1fr 1fr;
	}


	#mic{
		grid-column-start: 1;
		grid-row-start: 1;
		height: 4em;
		color: #42A5F5;
		border-width: 0;
		background-color: white;
	}
	#mic:hover{
		background: linear-gradient(145deg, #42A5F5, #0076d3);
		color: white;
		border-width: 0;
		animation: pulseShadowPurple 2s infinite;
	}

	.clear{
		grid-column-start: 2;
	}

	#mic.isRecording {
		background-color: red;
		color: white;
		border-width: 0;
		animation: pulseShadowRed 2s infinite;
	}
	
	.playback-container {
		margin-bottom: 10px; /* Space between players */
		display: flex;
		justify-content: center;
	}
	.download-btn {
		background-color: white;
		color: #4CAF50;
		padding: 0px 10px;
		border: none;
		border-radius: 6px;
		margin-left: 10%;
		align-content: center;
		cursor: pointer;
		text-decoration: none;
		/* margin-left: 10px; */
	}

	.download-btn:hover {
		background-color: #45a049;
		color: white;
		animation: pulseShadowGreen 2s infinite;
	}

#beat_rec_btn {
	grid-column-start: 1;
	grid-row-start: 1;
	height: 4em;
	color: #0076d3;
	border-width: 0;
	background-color: white;
}
#beat_rec_btn:hover {
	background: linear-gradient(145deg, #42A5F5, #0076d3);
	color: white;
	border-width: 0;
	animation: pulseShadowPurple 2s infinite;
}


#beat_rec_btn.beatRecording{
	background-color: red;
	color: white;
	animation: pulseShadowRed 2s infinite;
}

#song-upload-area{
	float: right;
	padding-block: 1.7em;
}

#chooseFileButton{
	height: 4em;
	margin-left: 8em;
	color: #42A5F5;
	border-width: 0;
	background-color: white;
}

#chooseFileButton:hover{
	background: linear-gradient(145deg, #42A5F5, #0076d3);
	color: white;
	border-width: 0;
}

#LED_row img {
	width: 35px;
}

.label {
	display: inline-block;
	vertical-align: top;
	width: 60px;
	position: relative;
	top: 12px;
	text-align: right;
	margin-right: 15px;
}

#pad{margin-right: 400px}

#pad.Four{margin-right: -4em}

#pad.Eight{margin-right: 2em;}

#pad.Twelve{margin-right: 7em;}

#pad.Sixteen{margin-right: 13em;}

#pad.Twenty{margin-right: 20em;}

#pad.Twentyfour{margin-right: 26em;}

#pad.Twentyeight{margin-right: 32em;}

#pad.Thirtytwo{margin-right: 36em;}

#params {
	height: 155px;
	margin-right: 14em;
	margin-bottom: 2em;
}

#tools {
	height: 36px;
	margin-right: 21.8em;
	object-position: center;
	justify-content: center;
}

#modeButtons{
	display: flex;
	width: 71em;
}

#paramsleft_container {
	display: inline-block;
	vertical-align: top;
	margin-right: 13px;
}

.btn {
	padding: 0;
	margin: 0;
	border: 0;
	cursor: pointer;
	width: 35px;
	height: 35px;
}
#kitlabel, #effectlabel, #swinglabel {
	top: 6px;
}

#beatlabel {
	top: 8px;
}

.combo {
	width: 140px;
	height: 15px;
	/*background: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)),
		color-stop(2%, rgb(255, 255, 255)), color-stop(5%, rgb(244, 244, 244)), 
		color-stop(90%, rgb(255, 255, 255)), to(rgb(232, 232, 232)));*/
	background: white;
	border-radius: 2px;
	/*border: 1px solid rgb(220, 220, 220);*/
	color: rgb(76, 76, 76);
	display: inline-block;
	vertical-align: top;
	position: relative;
	text-align: center;
	padding: 6px;
	margin-bottom: 10px;
	cursor: pointer;
}

.combo:hover{
	background: rgb(208, 233, 255);
}

.combo img {
	position: absolute;
	left: 130px;
	top: 11px;
}

.combolist {
	list-style-type: none;
	position: absolute;
	top: 27px;
	left: -1px;
	margin: 0;
	background-color: rgb(249, 249, 249);
	border-radius: 2px;
	border: 1px solid rgb(200, 200, 200);
	width: 150px;
	padding: 0px;
	display: none;
	z-index: 1;
	text-align: center;
}

#effectlist {
	height: 200px;
	overflow: auto;
}

.combo.active .combolist {
	display: block;
}

.combolist li {
	padding: 2px;
	border-radius: 2px;
}

.combolist li:hover {
	background: rgb(208, 233, 255);
}

.slider_container {
	width: 50px;
	height: 175px;
	margin: 0 1px;
	position: relative;
	display: inline-block;
	vertical-align: top;
}

#swing_container {
	width: 250px;
	height: 30px;
	margin-bottom: 10px;
}

.slider_groove {
	margin: 0 auto;
	display: inline-block;
	vertical-align: top;
	position: relative;
}

.slider_track{
	opacity: 10%;
}

.slider_thumb {
	position: absolute;
	left: 13px;
	width: 2em;
	height: 2.5em;
	cursor: pointer;
	border-width: 0;
	border-radius: 0.5em; /* Rounded edges for a button-like look */
	transition: transform 0.1s ease-in; /* Smooth scaling effect */
}

.slider_thumb:hover {
	transform: scale(1.1); /* Scales the element to 1.1 times its size */
}

/* Add gradients for each thumb */
#swing_thumb {background: linear-gradient(145deg, #42A5F5, #0076d3); /* Deep green to bright lime */}

#effect_thumb {background: linear-gradient(145deg, #42A5F5, #0076d3); /* Fresh green to lemon yellow */}

#kick_thumb {background: linear-gradient(145deg, #42A5F5, #0076d3); /* Golden yellow to bright yellow */}

#snare_thumb {background: linear-gradient(145deg, #42A5F5, #0076d3); /* Dark orange to vivid orange */}

#hihat_thumb {background: linear-gradient(145deg, #42A5F5, #0076d3); /* Red-orange to coral */}

#tom1_thumb {background: linear-gradient(145deg, #42A5F5, #0076d3); /* Tomato red to light coral */}

#tom2_thumb {background: linear-gradient(145deg, #42A5F5, #0076d3); /* Bright red to tomato red */}

#tom3_thumb {background: linear-gradient(145deg, #42A5F5, #0076d3); /* Bold red to golden yellow */}


.slider_label {
	text-align: center;
	margin-top: 13px;
}

#tempo_container {
	height: 40px;
	margin-bottom: 10px;
}

#tempodisplay {
	background-image: url('../images/tempo_bg.png');
	width: 57px;
	height: 20px;
	display: inline-block;
	vertical-align: top;
	padding: 10px 20px;
	text-align: right;
	color: rgb(76, 76 ,76);
}

#tempo {
	font-weight: bold;
	font-size: 18px;
}

#bpm {
	font-size: 14px;
}


.vrule {
	width: 1px;
	height: 160px;
	background-color: rgb(229, 229, 229);
	margin: 0 8px;
	display: inline-block;
	vertical-align: top;
}

#record, #download, #reset, #share, #load{
	height: 36px;
	width: 80px;
	border-width: 0;
	background-color: #000420;
	margin-block: 0;
	font-size: 1.2em;
}

#record{
	border-radius: 10px 0px 0px 1px;
	color: #42A5F5;
	border-color: #42A5F5;
}

#record:hover{
	background: linear-gradient(145deg, #42A5F5, #0076d3);
	color: black;
}

#download{
	border-image: linear-gradient(145deg, #42A5F5, #0076d3) 1;
	width: 92px;
	border-radius: 0px 0px 0px 0px;
	color: #42A5F5;
}

#download:hover{
	background: linear-gradient(145deg, #42A5F5, #0076d3);
	color: black;
}

#reset{
	border-radius: 0px 1px 10px 0px;
	border-color: #42A5F5;
	color: #42A5F5;
}

#reset:hover{
	color: black;
	background: linear-gradient(145deg, #42A5F5, #0076d3);
}

#play {
	background-color: #000420;
	color: #42A5F5;
	/*border-color: #42A5F5;*/
	border-width: 0;
	cursor: pointer;
	margin-right: 12px;
	height: 36px;
	width: 80px;
	margin-block: 0;
	font-size: 1.2em;
	border-radius: 1px 10px 1px 10px;
}

#play:hover {
	background: linear-gradient(145deg, #42A5F5, #0076d3);
	color: black;
	border-width: 0;
	animation: pulseShadowGreen 2s infinite;
}

#play.playing {
	display: inline;
	background-color: black;
	color: #42A5F5;
	border-width: 0;
}


#play.playing:hover{
	display: inline;
	background: linear-gradient(145deg, #42A5F5, #0076d3);
	color: black;
	animation: pulseShadowGreen 2s infinite;
	border-width: 0;
}

#share{
	margin-left: 1em;
	margin-block: 0;
	width: 80px;
	border-width: 0;
	border-radius: 0px 0px 0px 10px;
	color: #42A5F5;
	border-color: #42A5F5;
	font-size: 1.2em;
	
}

#share:hover{
	background: linear-gradient(145deg, #42A5F5, #0076d3);
	color: black;
	border-width: 0;
}

#load{
	margin-right: 1em;
	margin-block: 0;
	width: 80px;
	border-width: 0;
	border-radius: 0px 10px 0px 0px;
	color: #42A5F5;
	border-color: #42A5F5;
	font-size: 1.2em;
}

#load:hover{
	background: linear-gradient(145deg, #42A5F5, #0076d3);
	color: black;
	border-width: 0;
}


#demos_container {
	margin-left: 10px;
}

#record_container, #download_container {
	height: 521px;
}

#record_container {
	grid-gap: 24%;
	text-align: center;
	align-content: center;
}

#record_container h3 {
	grid-column-start: 2;
	grid-column-end: 4;
}

#record_textarea, #download_textarea {
	width: 607px;
	height: 270px;
	margin: 20px 40px;
	font-size: 12px;
	-webkit-user-select: text !important;
}

#record_ok {
	display: block;
	margin: 0 auto;
}

.tempo-button{
	margin-block: 0;
	width: 2em;
	height: 1.7em;
	font-size: 1.8em;
	background-color: #000420;
	color: #42A5F5;
	border-width: 0;
}

.tempo-button:hover{
	background: linear-gradient(145deg, #42A5F5, #0076d3);
	color: black;
	border-width: 0;
}

#tempoinc{
	border-radius: 0 1px 15px 0;
}

#tempodec{
	border-radius: 15px 0px 0px 1px;
}

.exit-button{
	padding-inline: 2em;
	padding-block: 1em;
	font-size: 0.9em;
	background-color: darkgrey;
	color: black;
	border-width: 0;
}

.exit-button:hover{
	background-color: gray;
	color: black;
	border-width: 0;
}

#download_container{
	text-align: center;
	align-content: center;
}

#download_buttons {
	margin: 0 auto;
	width: 160px;
}

#download_ok, #download_cancel {
	margin: 0 3px;
}

#load_container {
	height: 521px;
	grid-gap: 24%;
	text-align: center;
	align-content: center;
}

#load_container h3 {
	grid-column-start: 2;
	grid-column-end: 4;
}

#loadArea{
	display: inline-grid;
	place-items: center;
}

.LAB{
	grid-row-start: 2;
	width: 7em;
	margin-block: 2em;
	height: 3em;
	border-radius: 3px;
	font-size: 1.3em;
}

#loadButton{
	color: #42A5F5;
	border-width: 0;
	background-color: white;}

#loadButton:hover{
	background: linear-gradient(145deg, #42A5F5, #0076d3);
	color: white;}

#loadCancel{
	color: red;
	border-width: 0;
	background-color: white;}

#loadCancel:hover{
	background-color: red;
	color: white;}

#load_textarea{
	font-size: 1.4em;
	grid-column-start: 1;
	grid-column-end: 3;
	height: 8em;
	width: 18em;
	border-radius: 10px;
	resize: none;
}

#loading {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

#loadingcard {
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(235, 235, 235)), 
	 to(rgb(255, 255, 255)));
  -webkit-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.2);
	width: 260px;
	height: 60px;
	border-radius: 10px;
	margin: 210px auto;
	padding: 10px;
}

#loadingtext {
	text-align: center;
	margin: 5px 0;
}

#loadingcard img {
	margin: 15px auto;
	display: block;
}

img.preload { display: none; }
#MIDIPlugin { visibility: hidden; }

.demo_button{
	margin-block: 0;
	height: 36px;
	width: 60px;
	background-color: #000420;
	border-radius: 0 0 0 0;
	color: white;
	border-width: 0;
	font-size: 1em;
	padding: 0;
	font-weight: bold;
	border-style: solid;
}

.demo_button:hover{
	background-color: white;
	color: black;
	height: 36px;
	width: 60px;
	font-size: 1.4em;
	font-weight: bold;
}

#demo1{border-radius: 10px 0 0 0px;color: #42A5F5;border-color:#42A5F5}
#demo1:hover{color: black;	background: linear-gradient(145deg, #42A5F5, #0076d3);}

#demo2{color: #42A5F5;border-color: #42A5F5}
#demo2:hover{color: black;	background: linear-gradient(145deg, #42A5F5, #0076d3);}

#demo3{color: #42A5F5;border-color: #42A5F5;}
#demo3:hover{color: black;	background: linear-gradient(145deg, #42A5F5, #0076d3);}

#demo4{color: #42A5F5;border-color: #42A5F5}
#demo4:hover{color: black;	background: linear-gradient(145deg, #42A5F5, #0076d3);}

#demo5{border-radius: 0px 0px 10px 0px;color: #42A5F5;border-color: #42A5F5}
#demo5:hover{color: black;	background: linear-gradient(145deg, #42A5F5, #0076d3);}


#overlay {
	position: fixed; /* Sit on top of the page content */
	width: 100%; /* Full width (cover the whole page) */
	height: 100%; /* Full height (cover the whole page) */
	justify-content: center;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5); /* Black background with opacity */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
	backdrop-filter: blur(2px);
}

#overlay_display{
	background: linear-gradient(145deg, #42A5F5, #0076d3);
	border-radius: 17px;
	display: grid;
	text-align: center;
	align-items: center; 
	-webkit-padding-start: 10px;
	position: absolute;
	padding-inline: 1em;
	padding-block: 1em;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#overlay_display h2{
	grid-row-start: 1;
	background: #CAF0F8;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: #fff;
}

#overlay_display p{
	grid-row-start: 2;
}

#code{
	margin-bottom: 2em;
}

.shareButton{
	width: 8em;
	height: 3em;
	margin-inline: 2em;
	margin-block: 2em;
	font-size: 1.1em;
}

#shareButtons{
	grid-row-start: 4;
	grid-column-start: 1;
	border-width: 0;
}

#shareCopy{
	border-radius: 2px 10px 2px 10px;
	background-color: black;
	color: #42A5F5;
	border-width: 0;
}

#shareCopy:hover{
	background: linear-gradient(145deg, #42A5F5, #0076d3);
	color: black;
}

#shareExit{
	border-radius: 10px 2px 10px 2px;
	background-color: black;
	color: red;
	border-width: 0;
}

#shareExit:hover{
	background-color: red;
	color: black;
}



